<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    {{> favicons}}
    {{> styles}}

    <script type="text/javascript" src="{{asset 'javascripts/application.min.js'}}"></script>
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>

    {{ghost_head}}
  </head>

  <body class="{{body_class}} nav-closed">
    {{navigation}}

    <div class="site-wrapper">
      {{{body}}}

      <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
      </footer>
    </div>

    {{ghost_foot}}
  </body>
</html>
